body{
    background-color: rgb(59, 159, 230);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
h1,h2{
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    background-color: blanchedalmond;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
b.AveNacional,b.ArbolNacional,b.FlorNacional,b.EscudoNacional{
    font-style: italic;
    background-color: white;
    font-size: 20px;
}
footer{
    font-style: italic;
    background-color: white;
    text-decoration: underline;
    text-align: center;
}